/**
* More style.
*/
.markdown h2{
  display: inline-block;
  border-bottom: 1px solid;
  margin: 1em 0 .5em;
}
.markdown ul> li::before{
  margin-right: .5em;
}
.markdown ol {
  counter-reset: section;
}
.markdown ol li::before {
  margin-right: .5em;
}
.markdown li{
  height: 2em;
  line-height: 2em;
}
.markdown blockquote {
  margin: 1em;
  padding: .5em;
  background: #ddd;
}